*.jar
!empty-shell-example/gradle/wrapper/gradle-wrapper.jar
.gradle*
*.class
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.apk
*.ap_
*.dex
gen/
out/
build/
tmp/
local.properties
proguard/
*.log
.navigation/
captures/
.idea/
*.jks
.externalNativeBuild
.DS_Store
*.iml
.idea/